node_modules/
android/
ios/
.expo/
dist/
build/
plugins/
*.config.js
babel.config.js
metro.config.js
jest.setup.js
app.config.js
app.plugin.js
.eslintrc.js
index.js
index.native.js
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
**/__tests__/
**/__mocks__/
